@{
  Layout = "_Layout";
}

@model DrOffice.Models.Patient

<h2>Patient Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Doctors.Count == 0)
{
  <p>This patient does not have a primary doctor assigned.</p>
}
else
{
  <h4>Doctors that see this Patient:</h4>
}
<ul>
  @foreach(var join in Model.Doctors)
  {
    <li>@join.Doctor.Name</li>
  }
</ul>


<ul>
  @foreach(var join in Model.Doctors)
  {
    <li>@join.Doctor.Name</li>
    @using (Html.BeginForm("DeleteDoctor", "Patients"))
    {
      @Html.Hidden("joinId", @join.DoctorPatientId)
      <input type="submit" value="Delete"/>
    }
  }
</ul>

<p>@Html.ActionLink("Back to patient", "Index")</p>
<p>@Html.ActionLink("Edit Patient", "Edit", new { id = Model.PatientId })</p>
<p>@Html.ActionLink("Delete Patient", "Delete", new { id = Model.PatientId })</p>
<p>@Html.ActionLink("Add a Doctor", "AddDoctor", new { id = Model.PatientId })</p>